// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$cerise: #E83958;
$dark-gray: #555555;
$black: #2C2C2C;

$facebook: #3B5998;
$twitter: #61c5ec;
$instagram: pink;
$backgroundColor: #e5eef3;
$buttonColor: #ffffff;
$textColor: #f1ce64;
$hoverColor: #fff;
