// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #2395BD;
$yellow: #FDB631;
$orange: #E67E22;
$green: #33cc70;
$gray: #000000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$cerise: #E83958;
$dark-gray: #4B4F66;
$black: #2C2C2C;
