.no-text-decoration {
  color: inherit;
  transition: all .5s ease;
}

.no-text-decoration:hover {
  color: $cerise;
}

.artwork-links {
  padding: 20px 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.line-separator{
  height: 1px;
  background: #717171;
  border-bottom: 1px solid #E0E0E0;
  margin-top: 45px;
  margin-bottom: 11px;
}

.title h1{
  font-size: 30px;
  text-align: left;
}

.date-and-name h3{
  font-size: 19px;
  text-align: left;
  color: #C4C4C4;
}
