.title-description-container{
  display: inline-flex;

}
.no-text-decoration {
  color: inherit;
  transition: all .5s ease;
  text-decoration: underline #C6C4C4;
}

.no-text-decoration:hover {
  text-decoration: underline #C6C4C4;
}

.artwork-links {
  padding: 20px 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.artwork-links-small {
  padding: 10px 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.title{
  font-size: 20px;
  text-align: left;
}

.date{
  font-size: 19px;
  text-align: left;
  color: #C4C4C4;
  margin-top: -3px;
}

.artist-name-color {
  font-size: 19px;
  text-align: left;
  color: #C4C4C4;
  margin-top: -3px;
  transition: all .3s ease-in;
}

.artist-name-color:hover {
  color: #848383;
}

.background-white{
  background: $white;
  height: 100vh;
}

.no-margin{
  margin-bottom: -30px;
}

.description-long{
  margin-top: 15px;
}
