.login-title {
  background: asset-url('polke.jpg');
  background-position: center;
  background-size: cover;
  padding: 10px 0;
  border-radius : 10px 10px 0 0;
}

.login-title h2 {
  margin: 10px 20px;
  color: white;
}

.icon-margin {
  margin-left: 5px;
}
