.ball-style {
  height: 50px;
  width: 50px;
  background-color: $cerise;
  position: absolute;
}

.ball-container {
  height : 500px;
  width: 500px;
  background-color: gray;
  position: relative;
}
