<h1>My room</h1>
<%= @user.user_name %>

<div class="art-container">
  <% @user.hangings.each do |hanging| %>
    <%= cl_image_tag hanging.artwork.image, class: "image-small image-rounded artblock", data: { hangingid: hanging.id }, style: "position: absolute; top: "  + hanging.top.to_s + "px; left: " + hanging.left.to_s + "px" %>
  <% end %>
</div>

<p class="button-outline button-pink" id="save-room">Save my room</p>
