
  <div class="vertical-wrapper-white text-center viewheight-100">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h1 class="what-is-artroom">What is Artroom?</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <p class="quotation">"After all, works of art are always the result of one’s having been in danger, of having gone through an experience all the way to the end, to where no one can go any further. The further one goes, the more private, the more personal, the more singular an experience becomes, and the thing one is making is, finally, the necessary, irrepressible, and, as nearly as possible, definitive utterance of this singularity… Therein lies the enormous aid the work of art brings to the life of the one who must make it, —: that it is his epitome, the knot in the rosary at which his life says a prayer, the ever-returning proof to himself of his unity and genuineness, which presents itself only to him while appearing anonymous to the outside, nameless, as mere necessity, as reality, as existence—." </p><p>-Rainer Maria Rilke</p>
        </div>
      </div>
      <div class="row">
        <br>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <p>The aim of Artroom is singular: introduce people to contemporary artworks and their artists. It is easy to be lulled into the mindset that contemporary has failed in some way. Often contemporary works seem inacesible— too focused on shocking us and revealing their ideas whithout having a grounding or even being beautiful to look at. Nonetheless, the artworks of our time are vital, and further, they are living among us. Works of art are born of their artists and the times in which they are created— therefore each work of art has the potential of articulating something both incredibly personal and accessible. Although sorting works of art by moods and interests is a quite subjective act, we should not balk. This project serves as a introduction, welcoming you to get to know the artworks on their own terms in due time.</p>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center">
          <div class="button">
            <%= link_to "Back Home", "/", class: "button-outline button-blue" %>
          </div>
        </div>
      </div>
    </div>
  </div>



