
<div class="banner">
  <div class="banner-content">
    <h1>WELCOME TO ARTROOM</h1>
    <p> Discover Contemporary Art </p>
  </div>
</div>
<div class="quiz-container">
  <div class="quiz-card">
    <p> Here we go testing </p>
  </div>
</div>



