<div class="banner">
  <div class="banner-content">
    <h1>WELCOME TO ARTROOM</h1>
    <p> Discover Contemporary Art </p>
  </div>
</div>
<div class="quiz-container">
  <div class="quiz-card">
    <p> Here we go testing </p>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Mood</button>
      <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="I feel..." id="myInput" onkeyup="filterFunction()">
        <a href="#Mood1">Mood1</a>
        <a href="#Mood2">Mood2</a>
        <a href="#Mood3">Mood3</a>
        <a href="#Mood4">Mood4</a>
        <a href="#Mood5">Mood5</a>
        <a href="#Mood6">Mood6</a>
      </div>
    </div>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Hobby</button>
      <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="I'm interested in..." id="myInput" onkeyup="filterFunction()">
        <a href="#Interest1">Interest1</a>
        <a href="#Interest2">Interest2</a>
        <a href="#Interest3">Interest3</a>
        <a href="#Interest4">Interest4</a>
        <a href="#Interest5">Interest5</a>
        <a href="#Interest6">Interest6</a>
      </div>
    </div>
  </div>
</div>



