
<div class="banner" style="background-image: url('https://www.numero.com/sites/default/files/images/gallery/100/art_sigmar_polke_venise_collection_pinault_palazzo_grassi.jpg');">
  <div class="banner-content">
    <h1>Welcome to Artroom</h1>
    <p>Wonderful things are coming. </p>
  </div>
</div>


