<div class="banner">
  <div class="banner-content">
    <h1>WELCOME TO ARTROOM</h1>
    <p> Discover Contemporary Art </p>
  </div>
</div>
<div class="quiz-container">
  <div class="quiz-card">
    <div class="category-choices">
    <%= form_tag artworks_path, method: :get do %>
    <%= select_tag(:mood, options_for_select(['Poetic', 'Wild', 'Joyful', 'Humorous', 'Melancholy', 'Meh']), include_blank: "Mood?")%>
    <%= select_tag(:interest, options_for_select(['Money', 'Nature',  'Tech', 'Death', 'Eroticism', 'Politics']), include_blank: "Interest?") %>
      <%= submit_tag "Submit", id: "submit-button-quiz" %>
        <% end %>
    </div>
  </div>
</div>



