<div class="banner">
  <div class="banner-content">
    <h1>WELCOME TO ARTROOM</h1>
    <p> Discover Contemporary Art </p>
  </div>
</div>
<div class="quiz-container">
  <div class="quiz-card">
    <%= form_tag artwork_path(:id), method: :get do %>
    <%= text_field_tag :mood,
      params[:mood],
      class: "form-control",
      placeholder: "Mood?"
    %>
    <%= text_field_tag :interest,
      params[:interest],
      class: "form-control",
      placeholder: "Interest?"
      %>
      <%= submit_tag "Submit" %>
      <% end %>
  </div>
</div>



