.login-button {
  background-color: $white;
  border: solid 1px $blue;
  border-radius: 5px;
  font-size: 17px;
  padding: 5px 10px;
  color: $blue;
  transition: all .3s ease-in;
}

.login-button:hover {
  background-color: $blue;
  color: white;
}

.artwork-links-small p {
  margin: 0
}

p .link-blue {
  color: $blue;
  transition: all .3s ease-in;
}

p .link-blue:hover {
  color: $black;
}

.button {
  height: auto;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-margin {
  margin-right: 20px;
  margin-bottom: 0;
}

.button-margin-10 {
  margin-right: 10px
}

.button-small-margin {
  margin: 0px 10px;
}

.button-artwork {
  margin-bottom: 10px;
}

.button-artwork:hover {
  transform: scale(1.1);
}

#submit-button-quiz {
  position: relative;
  z-index: 1;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
}

#submit-button-quiz:focus {
  box-shadow: none;
  outline : none;
}


.button-outline{
  display:inline-block;
  position:relative;
  padding:10px 20px;
  border:2px solid $black;
  color: $black;
  font-size:15px;
  text-decoration:none;
  background-color: transparent;
  transition: color 0.4s
}

.button-outline:after{
  content:" ";
  border:2px solid transparent;
  display:inline-block;
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all 0.4s;
  background-color: transparent;
}

.button-outline:hover:after{
  border:2px solid $black;
  width: calc(100% - 6px);
  height: calc(100% + 15px);
}

.button-gray {
  color: $dark-gray;
  border-color: $dark-gray;

  &:hover {
    color: $dark-gray;
    border-color: $dark-gray;
  }

  &:hover:after {
    border-color: $dark-gray;
  }
}

.button-blue {
  color: $blue;
  border-color: $blue;

  &:hover {
    color: $blue;
    border-color: $blue;
  }

  &:hover:after {
    border-color: $blue;
  }
}

.button-bcg-white {
  background-color: $white;
}

.button-bcg-white:after {
  background-color: $white;
}

.button-bcg-white:before{
  content:" ";
  border:2px solid transparent;
  display:inline-block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  position:absolute;
  top:-2px;
  left:-2px;
  right:-2px;
  bottom:-2px;
  margin:auto;
  transition:all 0.4s;
  background-color: transparent;
  z-index: 1;
}

.button-bcg-white:hover:before {
  border-color: $blue;
}


.button-gray-delete {
  border-color: $dark-gray;
  color: $dark-gray;
  position: relative;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
}

.button-gray-delete:hover > i {
    color: white;
    transition: 0.9s;
    transform: rotate(-90deg);
}


