.login-button {
  background-color: $white;
  border: solid 1px $blue;
  border-radius: 5px;
  font-size: 17px;
  padding: 5px 10px;
  color: $blue;
  transition: all .3s ease-in;
}

.login-button:hover {
  background-color: $blue;
  color: white;
}

.button {
  height: auto;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-margin {
  margin-right: 20px;
  margin-bottom: 0;
}

.button-margin-10 {
  margin-right: 10px
}

.button-artwork {
  margin-bottom: 10px;
}

.button-outline {
  border : solid 2px;
  border-radius: 50px;
  padding: 10px 15px;
}

.button-small {
  border : solid 1px;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 12px;
}

.button-pink {
  border-color: $cerise;
  color: $cerise;
  position: relative;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
  &::before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    position:absolute;
    content: "";
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    border-radius: 50px;
    background-color: $cerise;
    z-index: -2;
  }
}

.button-pink:hover {
  color: $white;
}

.button-pink:hover::before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: -2px;
  right: -2px;
  opacity: 1;
}

.button-pink:focus::before {
  transition: 0.5s all ease;
  left: -2px;
  right: -2px;
  opacity: 1;
}

.button-gray {
  border-color: $dark-gray;
  color: $dark-gray;
  position: relative;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
  &::before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    position:absolute;
    content: "";
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    border-radius: 50px;
    background-color: $dark-gray;
    z-index: -2;
  }
}

.button-gray-delete {
  border-color: $dark-gray;
  color: $dark-gray;
  position: relative;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
}

.button-gray-delete:hover > i {
    color: white;
    transition: 0.9s;
    transform: rotate(-90deg);
}


.button-gray:hover {
  color: $white;
}

.button-gray:hover::before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: -2px;
  right: -1px;
  opacity: 1;
}

.button-gray:focus::before {
  transition: 0.5s all ease;
  left: -2px;
  right: -1px;
  opacity: 1;
}
