a.morelink {
  text-decoration: none;
  outline: none;
  color: black;
}

a.morelink:hover {
  color: $cerise;
}

.morecontent span {
  display: none;
  transition: all 0.9s ease-out;

}

.expandable-text {
  transition: all 0.9s ease-in-out;
}

.hide-me {
  display: none;
  transition: all 0.9s ease-in-out;

}

.select-me.active {
    transform: rotate(-180deg);
    transition: 0.9s;
}


.select-me {
  color: $dark-gray;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
}

.select-me:hover {
    color: $black;
    transition: 0.9s;
}

.quotation{
  font-style: italic;
}

.what-is-artroom{
  font-family: Nanum Myeongjo;
  margin-top: 100px;
}

.viewheight-100{
  min-height: calc(100vh - 145px);
}



