.footer {
    width: 100%;
    text-align: center;
    // margin: 10px 0px 0px 0px;
    // margin-right: 0px !important;
    height: 89px;
    padding: 0px 30px;
    background-color: #989898;
}

.image-logo {
  margin-top: 30px;
}
