.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background: image-url('polke.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
.banner h1 {
  font-family: "Roboto";
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.banner p {
  font-family: "Roboto";
  // font-weight: lighter;
  font-size: 28px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  color: $white;
  margin-top: 20px;
  margin-bottom: 25px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
