// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "homepage";
@import "card";
@import "quiz";
@import "button";
@import "images";
@import "wrapper";
@import "form";
@import "description";
@import "footer";

@media (max-width: 500px) {
   .category-choices {
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
   }

  .dropdown-style {
    margin-bottom: 15px;
  }

  .banner {
  height: 50%
  }

}
