.quiz-card {
  margin: 60px auto;
  width: 100%;
  min-height: 70px;
  background: rgba(244, 244, 244, 0.7);
  // box-shadow: inset 0px 0px 30px $blue;
  // border: solid 2px $black;
  display: flex;
  border-radius: 2px;
  justify-content: center;
  // padding: 0px 20px;
}
/* Dropdown Button */
.dropbtn {
    background-color: #EEEEEE;
    border: 1px solid grey;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.category-choices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

/*Styling Selectbox for those sleek dropdowns*/
.dropdown-style {
  width: 160px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  border: solid 2px $blue;
  // box-shadow: 0 0 2px $black;
  transition: all .5s ease;
  position: relative;
  font-size: 15px;
  color: #474747;
  text-align: left;
  margin: 0px 9px;
}
.dropdown-style .select {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 18px;
}
.dropdown-style .select > i {
    font-size: 18px;
    color: $blue;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 30px
}
.dropdown-style:hover {
  box-shadow: 0 0 4px $blue;
}
.dropdown-style:active {
    background-color: #f8f8f8

}
.dropdown-style.active:hover,
.dropdown-style.active {
    box-shadow: 0 0 4px $blue;
    border-radius:2px 2px 0 0;
    background-color: #fff;
}
.dropdown-style.active .select > i {
    transform: rotate(-90deg)
}
.dropdown-style.active:focus,
.dropdown-style:focus,
.dropdown:focus {
    // box-shadow: none !important;
    outline: none !important;
}

.dropdown-style .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    border: solid 2px $blue;
    border-top: 0px;
    left: -2px;
    margin-top: 1px;
    box-shadow: 0 0 2px $blue;
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}

ul .dropdown-menu {
  width: 150px;
}

.dropdown-style .dropdown-menu li {
    padding: 7px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.dropdown-style .dropdown-menu {
    padding: 0;
    list-style: none;
}
.dropdown-style .dropdown-menu li:hover {
    background-color: #f2f2f2;
    color: $blue;
}
.dropdown-style .dropdown-menu li:active {
    background-color: #e2e2e2;
}
