.vertical-wrapper-white {
  position: relative;
  width: fit-content;
  margin: auto;
  background-color: $white;
  z-index: 1;
}

.vertical-wrapper-room-white {
  position: relative;
  background-color: $white;
  z-index: 1;
}
