.vertical-wrapper-white {
  position: relative;
  width: fit-content;
  margin: auto;
  background-color: $white;
  z-index: 1;
}

.vertical-wrapper-room-white {
  position: relative;
  background-color: $white;
  z-index: 1;
}

.wrapper-white {
  background-color: white;
  margin: 30px 0px;
  padding: 20px 0;
  min-height: calc((100vh - 70px) / 2);
}

.wrapper-gray {
  background-color: #f4f4f4;
  margin: 30px 0px;
  padding: 20px 0;
  min-height: calc((100vh - 70px) / 2);
}
